.additional-goods {
  position: relative;
}

.additional-goods::before {
  content: " ";
  position: absolute;
  top: 42px;
  right: 0;
  width: 15%;
  height: 3px;
  background-color: $color-accent;

  @media (min-width: $width-tablet) {
    top: 18px;
    width: 100%;
    z-index: -1;
  }
}

.additional-goods__wrapper {
  @include fixed-container;
  @include fixed-indent;
  padding-bottom: 35px;

  @media (min-width: $width-tablet) {
    padding-bottom: 76px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 86px;
  }
}

.additional-goods__inner {
  @media (min-width: $width-desktop) {
    display: flex;
  }
}

.additional-goods__list {
  @include list-reset;
  margin-bottom: 42px;

  @media (min-width: $width-tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $width-desktop) {
    width: 75%;
    margin-bottom: 0;
  }
}

.additional-goods__title {
  @include none-indentation;
  font-size: $font-l;
  font-weight: normal;
  line-height: 1;
  border-bottom: 1px solid $color-border;
  padding: 30px 0;

  @media (min-width: $width-tablet) {
    border-bottom: 0;
    margin-bottom: 78px;
    padding: 0 0 0 37px;
    font-size: $font-xxl;
    background-color: $color-white;
    width: 60%;
    word-break: break-word;
  }

  @media (min-width: $width-desktop) {
    width: 35%;
    margin-left: -37px;
    margin-bottom: 79px;
  }
}
