.advantage__title {
  @include none-indentation;
  text-transform: uppercase;
  font-size: $font-xl;
  line-height: 60px;
}

.advantage__list {
  @include none-indentation;
  list-style: none;
}

.advantage__icon {
  width: 60px;
  height: 60px;
  background-color: $color-accent;
}

.advantage__text {
  @include none-indentation;
  font-family: $add-font;
}
