.advantage {
  @include fixed-indent;
  @include fixed-container;
  padding-bottom: 22px;

  @media (min-width: $width-tablet) {
    padding-bottom: 25px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 128px;
    padding-bottom: 0;
  }
}

.advantage__title {
  @include none-indentation;
  @include font-non-standard;
  font-size: $font-xxl;
  line-height: 60px;
  font-weight: normal;
  margin-bottom: 27px;

  @media (min-width: $width-tablet) {
    margin-bottom: 18px;
    font-size: $font-xxxl;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 63px;
  }
}

.advantage__list {
  @include none-indentation;
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item {
  display: flex;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $width-tablet) {
    flex-basis: 40%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-bottom: 33px;
    padding-bottom: 44px;
  }

  @media (min-width: $width-desktop) {
    flex-basis: 20%;
    margin: 0;
    padding-bottom: 0;
  }
}

.advantage__item:not(:nth-child(2n)):not(:nth-child(4n)) {
  @media (min-width: $width-tablet) {
    margin-right: 101px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 0;
  }
}

.advantage__item:not(:first-child) {
  @media (min-width: $width-desktop) {
    margin-left: 80px;
  }
}

.advantage__item::before {
  content: " ";
  display: block;
  position: relative;
  width: 66px;
  height: 60px;
  background-color: $color-accent;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 9px;
    margin-bottom: 30px;
  }
}

.advantage__item--icon-health::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantage__item--icon-water::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantage__item--icon-food::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantage__item--icon-time::before {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantage__icon-number {
  @media (min-width: $width-tablet) {
    width: 121px;
    height: 233px;
    position: absolute;
    top: 0;
    left: 124px;
    z-index: -1;
  }

  @media (min-width: $width-desktop) {
    margin-top: 5px;
  }

  &--one {
    @media (min-width: $width-tablet) {
      background: url("../img/1.png") 50% 50% no-repeat;
      left: 101px;
    }
  }

  &--two {
    @media (min-width: $width-tablet) {
      background: url("../img/2.png") 50% 50% no-repeat;
    }
  }

  &--three {
    @media (min-width: $width-tablet) {
      background: url("../img/3.png") 50% 50% no-repeat;
    }
  }

  &--four {
    @media (min-width: $width-tablet) {
      background: url("../img/4.png") 50% 50% no-repeat;
    }
  }
}

.advantage__text {
  @include none-indentation;
  color: $color-lightgrey;
  margin-left: 20px;
  flex-basis: calc(100% - 60px);

  @media (min-width: $width-tablet) {
    margin-left: 0;
    font-size: $font-s;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    flex-basis: 100%;
  }
}
