.advantage__title {
  @include none-indentation;
  text-transform: uppercase;
  font-size: $font-xxl;
  line-height: 60px;
}

.advantage__list {
  @include none-indentation;
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantage__item {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    flex-basis: 324px;
  }
}

.advantage__icon {
  width: 60px;
  height: 60px;
  background-color: $color-accent;
}

.advantage__text {
  @include none-indentation;
  font-family: $font-extra;

  margin-left: 20px;
  width: calc(100% - 60px);
}
