.button {
  color: $color-white;
  background-color: $color-accent;
  font-size: $font-xxs;
  line-height: 20px;
  text-transform: uppercase;
  border: none;

  &--more {
    color: $color-lightgrey;
    background-color: $color-calm;
    text-decoration: none;
  }
}
