.catalog {
  @include fixed-container;

  @media (min-width: $width-tablet) {
    @include fixed-indent;
  }
}

.catalog__list {
  @include list-reset;
}

.catalog__title {
  @include none-indentation;
  @include fixed-indent;
  font-size: $font-xxl;
  font-weight: normal;
  line-height: 60px;
  padding-top: 17px;
  padding-bottom: 27px;

  @media (min-width: $width-tablet) {
    font-size: $font-xxxl;
    padding: 57px 0 92px;
  }
}
