.contacts {
  background-color: $color-white;
}

.contacts__title {
  @include none-indentation;
  font-size: $font-s;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  @include none-indentation;
  font-family: $font-extra;
  line-height: 20px;
  color: $color-lightgrey;
}
