.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__academy {
  color: $color-lightgrey;
  text-decoration: none;
  font-size: $font-xxs;
  line-height: 1;
}
