.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__academy {
  color: $color-lightgrey;
  text-decoration: none;
  font-family: $font-extra;
  font-size: $font-s;
  line-height: 1;

  @media (min-width: $width-tablet) {
    margin-right: 23px;
  }
}
