.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $color-accent;

  width: 280px;
  height: 289px;
}

.gift__text {
  color: $color-white;
  font-size: $font-xxs;
  line-height: 20px;
  font-family: $font-extra;
}

.gift__logo {
  width: 56px;
  height: 61px;
  margin: 0 auto;
  background: url("../../img/icon-gift.svg") no-repeat;
}
