.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: flex;

  &--header {
    width: 191px;
    height: 39px;

    @media (min-width: $width-tablet) {
      width: 174px;
      height: 59px;
    }

    @media (min-width: $width-desktop) {
      width: 203px;
      height: 60px;
    }
  }
}
