.main-nav {
  @include font-medium;

  @media (min-width: $width-tablet) {
    @include font-non-standard;
    display: flex;
    margin-left: auto;
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.main-nav__item {
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    border-bottom: 0;
    margin-left: 36px;

    &--active {
      border-bottom: 2px solid $color-accent;
    }
  }

  @media (min-width: $width-desktop) {
    &--border-color {
      border-bottom-color: $color-white;
    }
  }
}

.main-nav__link {
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
  font-size: $font-larger-m;
  line-height: 1;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: $font-m;
    padding: 45px 0 0;
  }

  @media (min-width: $width-desktop) {
    color: $color-white;
    font-size: $font-larger-m;
    padding-top: 77px;
  }

  &--color {
    color: $color-black;
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}
