.main-nav__list {
  @include none-indentation;
  @include list-reset;
}

.main-nav__link {
  font-size: $font-m;
  line-height: 1;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
}
