.map {
  position: relative;
  display: flex;
  justify-content: center;
}

.map__interactive-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin-mobile.png");

  @media (min-width: $width-tablet) {
    width: 113px;
    height: 106px;
    background-image: url("../img/map-pin.png");
  }

  @media (min-width: $width-desktop) {
    left: 73%;
  }
}

.map__img {
  width: 100%;
}

.map__picture {
  width: 100%;
}
