.page-header__inner {
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.page-header__logo {
  text-decoration: none;
  display: block;
}

.page-header__btn {
  display: block;
  font-size: 0;
  background-color: red;
  margin-left: auto;

  &--hidden {
    display: none;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}
