.page-header {
  @media (min-width: $width-tablet) {
    @include fixed-container;
    @include fixed-indent;
    display: flex;
  }
}

.page-header__inner {
  @include fixed-indent;
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;

  @media (min-width: $width-tablet) {
    border: 0;
    padding: 0;
  }
}

.page-header__logo {
  text-decoration: none;
  display: block;
}

.page-header__btn {
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/m-close-svg.svg") no-repeat;
  border: 0;
  font-size: 0;
  margin-left: auto;

  @media (min-width: $width-tablet) {
    display: none;
  }
}
