.preview-programs {
  @media (min-width: $width-desktop) {
    margin-top: 500px;
  }
}

.preview-programs__list {
  @include list-reset;
  margin-top: 22px;
}

.preview-programs__item {
  margin-bottom: 20px;
}
