.preview {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $color-accent;
}

.preview__title {
  @include none-indentation;
  color: $color-white;
  font-size: $font-xl;
  line-height: 1;
}

.preview__slogan {
  @include none-indentation;
  color: $color-white;
  text-transform: uppercase;
  line-height: 14px;
}

.preview__btn {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
}
