.preview {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $bg-color;
}

.preview__title {
  margin: 0;
  padding: 0;
  color: $txt-opposite-color;
  font-size: 36px;
  line-height: 36px;
}

.preview__slogan {
  margin: 0;
  padding: 0;
  color: $txt-opposite-color;
  text-transform: uppercase;
  line-height: 14px;
}

.preview__btn {
  color: $txt-opposite-color;
  text-decoration: none;
  text-transform: uppercase;
}
