.preview-programs {
  @include fixed-indent;
}

.preview-programs__list {
  @include list-reset;

  @media (min-width: $width-desktop) {
    display: flex;
  }
}

.preview-programs__item {
  margin-bottom: 20px;

  @media (min-width: $width-desktop) {
    flex-basis: 50%;
  }
}
