.preview-programs {
  @include fixed-indent;

  @media (min-width: $width-desktop) {
    @include fixed-container;
  }
}

.preview-programs__list {
  @include list-reset;

  @media (min-width: $width-desktop) {
    display: flex;
  }
}

.preview-programs__item {
  margin-bottom: 20px;

  @media (min-width: $width-desktop) {
    flex-basis: 50%;
  }
}

.preview-programs__item:first-child {
  margin-right: 80px;
}
