.product-additional__title {
  @include none-indentation;
  font-size: $font-s;
  line-height: 1;
  text-transform: uppercase;
}

.product-additional__prop {
  @include none-indentation;
  font-family: $font-extra;
  font-size: $font-xs;
  line-height: 1;
  color: $color-lightgrey;
}
