.product {
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border-bottom: 0;
    flex-basis: 50%;
  }

  @media (min-width: $width-desktop) {
    flex-basis: 25%;
  }
}

.product:first-child {
  border-top: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border-top: 0;
  }
}

.product__wrapper {
  @include fixed-container;
  @include fixed-indent;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media (min-width: $width-tablet) {
    position: relative;
    background-color: $color-calm;
    margin: 70px 30px;
    padding-bottom: 40px;
  }

  @media (min-width: $width-desktop) {
    width: 245px;
  }

  &--more {
    padding-top: 24px;

    @media (min-width: $width-tablet) {
      background-color: $color-white;
      border: 1px solid #cdcdcd;
      padding-top: 55px;
    }
  }
}

.product__inner {
  width: 50%;
  padding-top: 25px;

  @media (min-width: $width-tablet) {
    padding-top: 165px;
    width: 100%;
  }

  &--more {
    width: 100%;

    @media (min-width: $width-tablet) {
      padding-top: 0;
    }
  }
}

.product__pictures {
  @media (min-width: $width-tablet) {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product__pictures-more {
  width: 31px;
  height: 31px;
  background-image: url("../img/plus-mobile-svg.svg");
  opacity: 0.2;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 61px;
    height: 61px;
    background-image: url("../img/plus-svg.svg");
    margin-bottom: 50px;
  }
}

.product__title {
  @include none-indentation;
  font-size: $font-s;
  line-height: 20px;
  text-transform: uppercase;
  width: 74px;
  word-wrap: break-word;
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    width: 60%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 23px;
    font-size: $font-larger-m;
  }

  &--more {
    width: 100%;
    margin-bottom: 9px;
    text-align: center;

    @media (min-width: $width-tablet) {
      width: 60%;
      margin-bottom: 26px;
    }

    @media (min-width: $width-desktop) {
      width: 100%;
    }
  }
}

.product__properties {
  @media (min-width: $width-tablet) {
    margin-bottom: 30px;
    margin-left: 9px;
    margin-right: 7px;
  }
}

.product__prop-items {
  @include none-indentation;
  font-size: $font-xxs;
  line-height: 16px;
  color: $color-lightgrey;
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    font-size: $font-s;
    border-bottom: 1px solid $color-border;
  }

  &--more {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media (min-width: $width-tablet) {
      margin-bottom: 85px;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      border: 0;
      text-align: center;
    }
  }
}

.product__prop-item {
  @media (min-width: $width-tablet) {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

.product__btn {
  @include fixed-indent;
  font-size: $font-s;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
