.product-additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 0;
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 38px;
  }

  @media (min-width: $width-desktop) {
    border-left: 0;
    border-right: 0;
    padding: 0;
    align-items: center;
  }
}

.product-additional:first-child {
  @media (min-width: $width-tablet) {
    border-top: 1px solid $color-border;
  }
}

.product-additional__title {
  @include none-indentation;
  font-size: $font-s;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media (min-width: $width-tablet) {
    font-size: $font-larger-m;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
  }
}

.product-additional__prop {
  @include none-indentation;
  font-family: $font-extra;
  font-size: $font-xs;
  line-height: 1;
  color: $color-lightgrey;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    width: 50%;
    font-size: $font-s;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
  }
}

.product-additional__btn {
  margin-bottom: 15px;
  width: 100%;
  font-size: $font-s;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $width-desktop) {
    width: 25%;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
  }
}
