.product-additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 0;
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 38px;
    padding-top: 28px;
    padding-bottom: 29px;
  }

  @media (min-width: $width-desktop) {
    border-left: 0;
    border-right: 0;
    padding: 0;
    align-items: center;
  }
}

.product-additional:first-child {
  @media (min-width: $width-tablet) {
    border-top: 1px solid $color-border;
  }
}

.product-additional__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.product-additional__title {
  @include none-indentation;
  font-size: $font-s;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 15px;
  word-break: break-word;

  @media (min-width: $width-tablet) {
    font-size: $font-larger-m;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    width: 285px;
  }
}

.product-additional__prop {
  @include none-indentation;
  font-size: $font-xs;
  line-height: 1;
  color: $color-lightgrey;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    width: 40%;
    font-size: $font-s;
    margin-bottom: 0;
    margin-left: auto;
    justify-content: normal;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    width: 40%;
  }
}

.product-additional__prop-value,
.product-additional__prop-name {
  @media (min-width: $width-tablet) {
    margin-left: auto;
  }
}

.product-additional__btn {
  margin-bottom: 15px;
  width: 100%;
  font-size: $font-s;
  padding-top: 9px;
  padding-bottom: 10px;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    margin-top: 22px;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    width: 25%;
  }
}
