.profile__fieldset {
  @include none-indentation;
  border: 0;
}

.profile__fields {
  position: relative;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--info {
    @media (min-width: $width-desktop) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

.profile__items {
  display: flex;
  flex-direction: column;
  position: relative;

  &--programs {
    border: 1px solid $color-border;
    margin: 0 -20px;
    padding: 21px 20px 6px;
    margin-bottom: 31px;

    @media (min-width: $width-tablet) {
      margin: 0 0 79px;
      padding: 25px 28px 10px;
    }

    @media (min-width: $width-desktop) {
      margin-left: 80px;
      width: 50%;
    }
  }

  &--additionally {
    padding-bottom: 22px;

    @media (min-width: $width-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &--info {
    padding-bottom: 10px;

    @media (min-width: $width-tablet) {
      padding-bottom: 52px;
    }

    @media (min-width: $width-desktop) {
      width: 50%;
    }
  }

  &--contacts {
    padding-bottom: 18px;

    @media (min-width: $width-tablet) {
      padding-bottom: 49px;
    }

    @media (min-width: $width-desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--comment {
    padding-bottom: 18px;

    @media (min-width: $width-tablet) {
      padding-bottom: 49px;
    }
  }
}

.profile__item {
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }

  &--additionally {
    @media (min-width: $width-tablet) {
      width: 50%;
      margin-bottom: 32px;
    }

    @media (min-width: $width-desktop) {
      width: 25%;
    }
  }

  &--contacts {
    @media (min-width: $width-desktop) {
      width: 50%;
    }
  }

  &--program {
    @media (min-width: $width-tablet) {
      margin-bottom: 13px;
    }
  }
}

.profile__item--contacts:not(:first-child) {
  @media (min-width: $width-desktop) {
    padding-left: 78px;
  }
}

.profile__wrapper-contacts {
  @media (min-width: $width-desktop) {
    display: flex;
    width: 100%;
  }
}

.profile__title {
  @include none-indentation;
  font-size: $font-l;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 30px;
  width: 100%;
  word-break: break-word;

  @media (min-width: $width-tablet) {
    font-size: $font-xxl;
    margin-bottom: 70px;
  }

  &--add {
    @media (min-width: $width-tablet) {
      margin-bottom: 53px;
    }
  }
}

.profile__line-contacts::before {
  content: " ";
  position: absolute;
  top: 12px;
  right: 0;
  width: 35%;
  height: 3px;
  margin: 0 -19px;
  background-color: $color-accent;
  z-index: -1;

  @media (min-width: $width-tablet) {
    margin: 0 -69px;
    top: 20px;
    width: 25%;
  }

  @media (min-width: $width-desktop) {
    margin: 0 -30px;
    width: 55%;
  }
}

.profile__line-contacts::after {
  @media (min-width: $width-tablet) {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: $color-accent;
    top: 20px;
    left: 0;
    margin: 0 -70px;
  }
}

.profile__line-comment::before {
  content: " ";
  position: absolute;
  top: 12px;
  right: 0;
  width: 55%;
  height: 3px;
  margin: 0 -19px;
  background-color: $color-accent;
  z-index: -1;

  @media (min-width: $width-tablet) {
    margin: 0 -69px;
    top: 18px;
    width: 75%;
  }

  @media (min-width: $width-desktop) {
    margin: 0 -30px;
    width: 85%;
  }
}

.profile__line-comment::after {
  @media (min-width: $width-tablet) {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: $color-accent;
    top: 20px;
    left: 0;
    margin: 0 -70px;
  }
}

.profile__line-add::before {
  content: " ";
  position: absolute;
  top: 12px;
  right: 0;
  width: 50%;
  height: 3px;
  margin: 0 -19px;
  background-color: $color-accent;
  z-index: -1;

  @media (min-width: $width-tablet) {
    margin: 0 -69px;
    top: 18px;
    width: 70%;
  }

  @media (min-width: $width-desktop) {
    margin: 0 -30px;
    width: 80%;
  }
}

.profile__line-add::after {
  @media (min-width: $width-tablet) {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: $color-accent;
    top: 20px;
    left: 0;
    margin: 0 -70px;
  }
}

.profile__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto 82px;
  }
}

.profile__explanation {
  @include none-indentation;
  color: $color-lightgrey;
  line-height: 16px;
  text-align: center;
  margin-bottom: 34px;

  @media (min-width: $width-tablet) {
    width: 55%;
    margin-bottom: 0;
    text-align: left;
    padding-left: 61px;
    font-size: $font-s;
  }

  @media (min-width: $width-desktop) {
    padding-left: 82px;
  }
}

.profile__button {
  padding-top: 13px;
  padding-bottom: 11px;
  margin-bottom: 23px;
  font-size: $font-s;

  @media (min-width: $width-tablet) {
    width: 45%;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: $font-larger-m;
  }
}
