.profile {
  @include font-non-standard;
}

.profile__fieldset {
  @include none-indentation;
  border: 0;
  position: relative;
}

.profile__fieldset-line::before {
  content: " ";
  position: absolute;
  top: 12px;
  right: 0;
  width: 30%;
  height: 3px;
  background-color: $color-accent;

  @media (min-width: $width-tablet) {
    width: 100%;
    top: 20px;
  }
}

.profile__fields {
  @include fixed-indent;
  @include fixed-container;
  position: relative;

  @media (min-width: $width-tablet) {
    margin: 0 40px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto;
  }

  &--info {
    @media (min-width: $width-desktop) {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 53px;
    }
  }
}

.profile__items {
  display: flex;
  flex-direction: column;
  position: relative;

  &--programs {
    border: 1px solid $color-border;
    margin: 0 -20px;
    padding: 21px 20px 11px;
    margin-bottom: 29px;

    @media (min-width: $width-tablet) {
      margin: 0 0 79px;
      padding: 25px 28px 10px;
    }

    @media (min-width: $width-desktop) {
      margin-left: 80px;
      width: 50%;
      height: 100%;
      margin-bottom: 0;
    }
  }

  &--additionally {
    padding-bottom: 22px;

    @media (min-width: $width-desktop) {
      padding-bottom: 32px;
    }
  }

  &--info {
    padding-bottom: 10px;

    @media (min-width: $width-tablet) {
      padding-bottom: 52px;
    }

    @media (min-width: $width-desktop) {
      width: 50%;
      padding-bottom: 0;
    }
  }

  &--contacts {
    padding-bottom: 14px;

    @media (min-width: $width-tablet) {
      padding-bottom: 47px;
    }

    @media (min-width: $width-desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--comment {
    padding-bottom: 13px;

    @media (min-width: $width-tablet) {
      padding-bottom: 49px;
    }
  }
}

.profile__list-add {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.profile__item {
  @include none-indentation;
  margin-bottom: 16px;

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }

  &--additionally {
    margin-bottom: 12px;

    @media (min-width: $width-tablet) {
      width: 50%;
      margin-bottom: 32px;
    }

    @media (min-width: $width-desktop) {
      width: 20%;
    }
  }

  &--contacts {
    @media (min-width: $width-tablet) {
      margin-bottom: 22px;
    }

    @media (min-width: $width-desktop) {
      width: 50%;
    }
  }

  &--program {
    margin-bottom: 11px;

    @media (min-width: $width-tablet) {
      margin-bottom: 13px;
    }
  }
}

.profile__item--contacts:not(:first-child) {
  @media (min-width: $width-desktop) {
    padding-left: 39px;
  }
}

.profile__item--additionally:nth-child(even) {
  @media (min-width: $width-tablet) {
    padding-left: 29px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
  }
}

.profile__item--additionally:not(:first-child) {
  @media (min-width: $width-desktop) {
    margin-left: 81px;
  }
}

.profile__wrapper-contacts {
  @media (min-width: $width-desktop) {
    display: flex;
    width: 100%;
  }
}

.profile__title {
  @include none-indentation;
  font-size: $font-l;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 34px;
  width: 100%;
  word-break: break-word;

  @media (min-width: $width-tablet) {
    font-size: $font-xxl;
    margin-bottom: 71px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 74px;
  }

  &--contacts {
    @media (min-width: $width-tablet) {
      width: 93%;
      padding-left: 40px;
      margin-left: -40px;
      background-color: white;
    }

    @media (min-width: $width-desktop) {
      padding-left: 20px;
      margin-left: -20px;
      width: 47%;
    }
  }

  &--comment {
    @media (min-width: $width-tablet) {
      width: 42%;
      padding-left: 40px;
      margin-left: -40px;
      background-color: white;
    }

    @media (min-width: $width-desktop) {
      padding-left: 20px;
      margin-left: -20px;
      width: 20%;
    }
  }

  &--add {
    @media (min-width: $width-tablet) {
      margin-bottom: 53px;
      width: 46%;
      background-color: white;
      padding-left: 40px;
      margin-left: -40px;
    }

    @media (min-width: $width-desktop) {
      padding-left: 20px;
      margin-left: -20px;
      width: 22%;
    }
  }
}

.profile__title-inner {
  @media (min-width: $width-tablet) {
    width: 100%;
  }
}

.profile__inner {
  @include fixed-container;
  @include fixed-indent;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto 82px;
  }
}

.profile__explanation {
  @include none-indentation;
  @include font-main;
  color: $color-lightgrey;
  line-height: 16px;
  text-align: center;
  margin-bottom: 34px;

  @media (min-width: $width-tablet) {
    width: 55%;
    margin-bottom: 0;
    text-align: left;
    padding-left: 61px;
    font-size: $font-s;
  }

  @media (min-width: $width-desktop) {
    padding-left: 82px;
  }
}

.profile__button {
  padding-top: 10px;
  padding-bottom: 11px;
  margin-bottom: 19px;
  font-size: $font-s;

  @media (min-width: $width-tablet) {
    width: 40%;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-left: 40px;
    font-size: $font-larger-m;
  }

  @media (min-width: $width-desktop) {
    margin-left: 0;
    width: 48%;
  }
}
