.programs-page {
  @include fixed-indent;
  @include fixed-container;
}

.programs-page__title {
  @include none-indentation;
  font-size: $font-xxl;
  line-height: 60px;
  margin-bottom: 24px;
  margin-top: 19px;
}

.programs-page__slogan {
  @include none-indentation;
  text-transform: uppercase;
  margin-bottom: 36px;
}
