.program {
  @include none-indentation;
  @include list-reset;
}

.program__item {
  background-color: $color-calm;
}

.program__title {
  @include none-indentation;
  font-size: $font-l;
  line-height: 37px;
  text-transform: uppercase;
}

.program__about {
  @include none-indentation;
  color: $color-lightgrey;
  font-family: $add-font;
}

.program__button {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  font-size: $font-s;
  line-height: 1;
}
