.program {
  background-color: $color-calm;
  padding: 24px 20px 22px;

  @media (min-width: $width-tablet) {
    padding: 80px 52px 62px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 47px;
  }
}

.program__wrapper-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: $width-tablet) {
    position: relative;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 34px;
  }
}

.program__title {
  @include none-indentation;
  @include font-non-standard;
  font-size: $font-l;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: 20px;

  @media (min-width: $width-tablet) {
    margin-left: 0;
    font-size: $font-xxl;
  }

  @media (min-width: $width-desktop) {
    margin-left: 62px;
    margin-bottom: 10px;
  }
}

.program__about {
  @include none-indentation;
  color: $color-lightgrey;
  margin-bottom: 19px;
  word-break: break-word;

  @media (min-width: $width-tablet) {
    margin-bottom: 53px;
    width: 57%;
    font-size: $font-s;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    margin-bottom: 33px;
  }
}

.program__button {
  @include font-non-standard;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  font-size: $font-s;
  line-height: 1;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-border;
  padding-top: 20px;

  @media (min-width: $width-tablet) {
    border-top: 0;
    padding-top: 0;
    width: 50%;
    font-size: $font-larger-m;
  }
}

.program__button:active {
  color: rgba(17, 17, 17, 0.3);
}

.program__button::after {
  content: " ";
  display: block;
  width: 25px;
  height: 12px;
  background-image: url("../img/right-arrow-long-svg.svg");
  background-repeat: no-repeat;
  margin-left: 12px;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    margin-left: 23px;
  }
}

.program__button:hover::after {
  width: 34px;
}

.program__button:active::after {
  opacity: 0.3;
}

.program__ellipse {
  width: 50px;
  height: 51px;
  display: inline-block;
  vertical-align: middle;
  background-color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 50%;

  @media (min-width: $width-tablet) {
    width: 200px;
    height: 200px;
    order: 2;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    height: 100px;
    order: -1;
    position: static;
  }
}

.program__slim-cat {
  content: " ";
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 3px;
  width: 35px;
  height: 49px;

  @media (min-width: $width-tablet) {
    width: 141px;
    height: 194px;
    bottom: 13px;
  }

  @media (min-width: $width-desktop) {
    width: 71px;
    height: 97px;
    bottom: 9px;
  }
}

.program__weight-cat {
  content: " ";
  display: flex;
  position: relative;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 67px;
  height: 28px;

  @media (min-width: $width-tablet) {
    width: 268px;
    height: 113px;
    top: 44px;
  }

  @media (min-width: $width-desktop) {
    width: 134px;
    height: 57px;
    top: 18px;
  }
}
