.slider__pictures {
  margin: 0 auto 35px;
  position: relative;
  width: 280px;
  height: 232px;

  @media (min-width: $width-tablet) {
    width: 636px;
    height: 512px;
    z-index: 2;
  }

  @media (min-width: $width-desktop) {
    margin-right: 40px;
  }
}

.slider__inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;

  &--right {
    right: 0;
    width: 0;

    @media (min-width: $width-tablet) {
      width: 50%;
    }
  }

  &--left {
    left: 0;
    width: 280px;

    @media (min-width: $width-tablet) {
      width: 50%;
    }
  }
}

.slider__img {
  width: 280px;
  position: absolute;
  top: 0;
  overflow: hidden;

  &--after {
    right: 0;
  }

  @media (min-width: $width-tablet) {
    width: 636px;
  }
}

.slider__wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $width-desktop) {
    margin-right: 30px;
    margin-left: auto;
    width: 570px;
  }
}

.slider__label {
  font-size: $font-s;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    font-size: $font-larger-m;
    border-bottom: 1px dotted $color-border;
    padding-bottom: 6px;
  }
}

.slider__label:hover {
  border-bottom: 1px solid #989898;
}

.slider__label:active {
  border-bottom: 0;
}

.slider__range {
  margin: 0 19px;
}
