.social-list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0;
  margin-bottom: 20px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-tablet) {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.social-list__item {
  &--vk {
    margin-right: 34px;
  }

  &--insta {
    margin-right: 30px;
  }
}

.social-list__link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.social-list__img {
  fill: $color-icon;

  &--vk {
    width: 22px;
    height: 12px;

    @media (min-width: $width-tablet) {
      width: 30px;
      height: 16px;
    }
  }

  &--inst {
    width: 17px;
    height: 17px;

    @media (min-width: $width-tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    @media (min-width: $width-tablet) {
      width: 14px;
      height: 28px;
    }
  }
}

.social-list__img:hover {
  fill: $color-accent;
}

.social-list__img:active {
  opacity: 0.3;
}
