$color-accent: #68b738;
$color-calm: #f2f2f2;
$color-black: #111111;
$color-white: #ffffff;
$color-lightgrey: #444444;
$color-darkgrey: #222222;
$color-icon: #666666;

$font-xl: 36px;
$font-l: 24px;
$font-m: 20px;
$font-s: 16px;
$font-xs: 14px;
$font-xxs: 12px;

$main-font: "Oswald", "Arial", sans-serif;
$add-font: "ArialMT", sans-serif;
