$color-accent: #68b738;
$color-calm: #f2f2f2;
$color-black: #111111;
$color-white: #ffffff;
$color-lightgrey: #444444;
$color-darkgrey: #222222;
$color-icon: #666666;

$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;

$font-main: "Oswald", "Arial", sans-serif;
$font-extra: "ArialMT", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
